@font-face {
  font-family: "font-900";
  src: url("fonts/Outfit-Black.woff") format("woff"), url("fonts/Outfit-Black.woff2") format("woff2");
}
@font-face {
  font-family: "font-800";
  src: url("fonts/Outfit-ExtraBold.woff") format("woff"), url("fonts/Outfit-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "font-700";
  src: url("fonts/Outfit-Bold.woff") format("woff"), url("fonts/Outfit-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "font-600";
  src: url("fonts/Outfit-SemiBold.woff") format("woff"), url("fonts/Outfit-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "font-500";
  src: url("fonts/Outfit-Medium.woff") format("woff"), url("fonts/Outfit-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "font-400";
  src: url("fonts/Outfit-Regular.woff") format("woff"), url("fonts/Outfit-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "font-300";
  src: url("fonts/Outfit-Light.woff") format("woff"), url("fonts/Outfit-Light.woff2") format("woff2");
}
@font-face {
  font-family: "font-200";
  src: url("fonts/Outfit-ExtraLight.woff") format("woff"), url("fonts/Outfit-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "font-100";
  src: url("fonts/Outfit-Thin.woff") format("woff"), url("fonts/Outfit-Thin.woff2") format("woff2");
}
body {
  font-family: "font-400";
  margin: 0;
}

section {
  margin-top: -1px;
  margin-bottom: -2px;
}

.header__navigation {
  margin-bottom: -1px;
}

.header__navigation_background {
  background: #ffaa4c;
}

.header__list {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  padding: 0 60px;
}

.header__item {
  padding: 9px 40px;
}

.header__link {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.header__link_active {
  color: white;
}

.header__burger {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__item_active {
  background: #181818;
  border-radius: 20px 20px 0px 0px;
}

.color {
  background: #181818;
}

.fix {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  z-index: 800;
}

.header__container {
  background: #181818;
}

.header__bottom {
  z-index: 800;
  padding: 7px 60px 7px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #181818;
}

.button {
  cursor: pointer;
  border-radius: 16px;
  line-height: 25px;
  font-family: "font-500";
  font-size: 20px;
  padding: 16px 30px;
  border: 2px solid #954ced;
  position: relative;
  transition-duration: 200ms, 500ms;
  transition-property: transform, background-color;
  transition-delay: 0, 300ms;
}

.button_background:hover {
  transform: scale(1.1);
}

.button_background::before {
  content: "";
  position: absolute;
  border-radius: 14px;
  bottom: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #181818;
  transition: 200ms;
  z-index: -1;
}

.button span {
  z-index: 100;
  white-space: nowrap;
}

.button_background:hover::before {
  content: "";
  left: 0px;
  bottom: 0px;
  z-index: -1;
  height: 57px;
  width: 100%;
  position: absolute;
  transition: 200ms;
}

.button_background {
  background: #954ced;
  color: white;
}

.title {
  font-size: calc((100vw - 375px) / 1545 * 56 + 40px);
  line-height: calc((100vw - 375px) / 1545 * 59 + 42px);
}

.text {
  font-size: calc((100vw - 375px) / 1545 * 4 + 16px);
  line-height: calc((100vw - 375px) / 1545 * 4 + 20px);
  font-family: "font-400";
}

.button_background-white {
  background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus-visible {
  outline: none;
}

.contact-form {
  display: none;
  z-index: 200;
  position: fixed;
  left: 0;
  right: 0;
  top: 55px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  max-width: 335px;
  margin: 0 auto;
}
.contact-form__text {
  font-size: 14px;
  line-height: 22px;
  font-family: "font-500";
  margin-bottom: 4px;
}
.contact-form__button {
  margin-top: 3px;
}
.contact-form__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.contact-form__link {
  text-decoration: underline;
  color: #954ced;
}
.contact-form__content {
  font-family: "font-300";
  font-size: 14px;
  line-height: 19px;
}
.contact-form__text span {
  color: red;
}
.contact-form__input {
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  width: 303px;
  padding: 9px 16px;
  height: 20px;
  margin-bottom: 10px;
}
.contact-form__input[type=tel] {
  color: black;
  font-size: 14px;
  font-family: "font-400";
  line-height: 22px;
}
.contact-form__input[type=text] {
  color: black;
  font-size: 14px;
  font-family: "font-400";
  line-height: 22px;
}
.contact-form__input::-moz-placeholder {
  color: #a7a7a7;
  font-size: 14px;
  font-family: "font-400";
  line-height: 22px;
}
.contact-form__input::placeholder {
  color: #a7a7a7;
  font-size: 14px;
  font-family: "font-400";
  line-height: 22px;
}
.contact-form__phone-wrapper {
  position: relative;
}
.contact-form__phone-wrapper img {
  position: absolute;
  top: 10px;
  left: 15px;
  border: 1px solid hwb(0 24% 76%);
}

.input__decore {
  border: 1px solid red;
}

.btn-disable {
  color: white;
  border: 1px solid #B9B9B9;
  background: #B9B9B9;
}

.phone {
  padding-left: 43px;
  position: relative;
  width: 275px;
}

.cookies {
  position: relative;
  z-index: 100;
  padding: 30px 60px 30px 30px;
  border-radius: 16px;
  background: white;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 650px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1285px;
}
.cookies__text {
  margin: 0;
  max-width: 783px;
  font-size: 20px;
  line-height: 28px;
}
.cookies__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.section-everyone {
  background: #181818;
  padding-bottom: 87px;
}
.section-everyone__inner {
  padding-top: 63px;
  display: flex;
  justify-content: space-between;
}
.section-everyone__button {
  margin-top: 20px;
}
.section-everyone__title {
  margin: 0;
  font-family: "font-700";
}
.section-everyone__title_color {
  color: white;
}
.section-everyone__text {
  margin-top: 20px;
}
.section-everyone__text_color {
  color: white;
}
.section-everyone__left {
  margin-top: 20px;
  margin-left: 110px;
  max-width: 671px;
}

.text-decore {
  font-size: calc((100vw - 375px) / 1545 * 12 + 24px);
  line-height: calc((100vw - 375px) / 1545 * 17 + 28px);
}

.section-why {
  padding-bottom: 85px;
  background: #181818;
  padding-top: 99px;
}
.section-why__img_mobile {
  display: none;
}
.section-why__img_desktop {
  margin-right: 40px;
  margin-top: 61px;
}
.section-why__wrapper {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-right: 10px;
}
.section-why__title-inner {
  margin: 0;
  margin-bottom: 20px;
  font-family: "font-600";
  font-size: calc((100vw - 767px) / 1153 * 16 + 32px);
  line-height: calc((100vw - 767px) / 1153 * 27 + 33px);
}
.section-why__img {
  border-radius: 30px;
}
.section-why__img_tree {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.section-why__img_four {
  bottom: 0;
  left: 72px;
  position: absolute;
}
.section-why__img_five {
  position: absolute;
  right: 0;
  bottom: 0;
}
.section-why__inner_padding {
  padding-left: 40px;
}
.section-why__inner {
  overflow: hidden;
  display: flex;
  align-items: start;
  background: white;
  border-radius: 30px;
  margin: 10px;
  position: relative;
}
.section-why__container {
  min-height: 385px;
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: 753px 567px;
}
.section-why__container_revers {
  grid-template-columns: 567px 753px;
}
.section-why__text-content {
  margin-top: 20px;
  margin-bottom: 60px;
}
.section-why__text-content_decore {
  position: relative;
  z-index: 1;
  text-align: center;
}
.section-why__text-content_color {
  color: white;
}
.section-why__text-content {
  text-align: center;
}
.section-why__title {
  text-align: center;
  font-size: calc((100vw - 375px) / 1545 * 24 + 40px);
  line-height: calc((100vw - 375px) / 1545 * 25 + 42px);
}
.section-why__title_color {
  color: white;
}

.text-midle {
  font-family: "font-400";
  font-size: calc((100vw - 375px) / 1545 * 4 + 16px);
  line-height: calc((100vw - 375px) / 1545 * 4 + 20px);
}

.text-content_decore::before {
  content: "";
  bottom: 0px;
  left: -5px;
  right: -10px;
  height: 30px;
  position: absolute;
  background: #a64ced;
  border-radius: 30px;
  z-index: -1;
  transform: rotate(-1deg);
}

.section-about {
  background: #181818;
  padding-bottom: 100px;
}
.section-about__inner {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 550px 380px 375px;
}
.section-about__text-content_decore {
  position: relative;
  z-index: 1;
}
.section-about__first {
  grid-row-start: 1;
  grid-row-end: 3;
  font-family: "font-600";
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-about__first-text {
  margin: 40px 70px 150px 60px;
}
.section-about__first-text_color {
  color: white;
}
.section-about__img {
  margin-top: 30px;
  margin-bottom: 0;
  margin-left: 40px;
}
.section-about__img-decore {
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 130px;
}
.section-about__title-content {
  margin: 20px 0;
  font-family: "font-700";
  margin-left: 35px;
  margin-top: 10px;
  font-size: calc((100vw - 375px) / 1545 * 16 + 32px);
  line-height: calc((100vw - 375px) / 1545 * 17 + 33px);
}
.section-about__title-content_color {
  color: white;
}
.section-about__text {
  font-family: "font-400";
  font-size: calc((100vw - 375px) / 1545 * 8 + 16px);
  line-height: calc((100vw - 375px) / 1545 * 8 + 20px);
  margin-left: 35px;
}
.section-about__text_color {
  color: white;
}
.section-about__title {
  margin: 0;
  padding-left: 60px;
  font-family: "font-700";
}
.section-about__title_color {
  color: white;
}

.section-phone {
  padding-top: 45px;
  padding-bottom: 93px;
  background: #181818;
}
.section-phone__infinity {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 68px;
}
.section-phone__inner {
  display: flex;
  width: 300%;
  animation: section-phone-infinity 15s linear infinite;
}
.section-phone__inner_left {
  animation: section-phone-infinity-left 15s linear infinite;
}
.section-phone__text {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  white-space: nowrap;
  padding: 0 20px;
  font-family: "font-700";
  font-size: calc((100vw - 375px) / 1545 * 80 + 48px);
  line-height: calc((100vw - 375px) / 1545 * 85 + 50px);
}
.section-phone__text_color-turquoise {
  color: #2fdbbc;
}
.section-phone__text_color-fel {
  color: #a64ced;
}
.section-phone__text_color-orange {
  color: #ffaa4c;
}
.section-phone__text_color-translucent {
  color: #181818;
  text-shadow: 1px 0 1px #444444, 0 1px 1px #444444, -1px 0 1px #444444, 0 -1px 1px #444444;
}
.section-phone__container {
  position: relative;
}
.section-phone__img {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: -35px auto auto auto;
}

.section-decoration {
  background: #954ced;
}
.section-decoration__container {
  padding: 15px 0;
}
.section-decoration__content {
  margin: 0 50px;
}
.section-decoration__inner {
  display: flex;
  justify-content: center;
}
.section-decoration__num_color {
  color: white;
}
.section-decoration__text_color {
  color: white;
}
.section-decoration__num {
  margin-top: 25px;
  font-family: "font-700";
  font-size: calc((100vw - 375px) / 1545 * 24 + 40px);
  line-height: calc((100vw - 375px) / 1545 * 25 + 42px);
}
.section-decoration__text {
  font-size: calc((100vw - 375px) / 1545 * 4 + 20px);
  line-height: calc((100vw - 375px) / 1545 * 3 + 25px);
}

.grow {
  padding-top: 90px;
  text-align: center;
}
.grow__container {
  margin: 0 auto;
  max-width: 1320px;
  border: 1px solid #cfcfcf;
  border-radius: 60px;
  padding-bottom: 50px;
}
.grow__title {
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: calc((100vw - 375px) / 1545 * 24 + 40px);
  line-height: calc((100vw - 375px) / 1545 * 25 + 42px);
}

.grow__br {
  display: none;
}

.section-your-brand {
  padding-bottom: 100px;
}
.section-your-brand__brands {
  max-width: 1338px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-your-brand__container {
  padding-bottom: 90px;
  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 854px 1fr;
}
.section-your-brand__title {
  margin: 100px 0 0;
}
.section-your-brand__text {
  max-width: 537px;
  font-size: 20px;
  line-height: 24px;
}
.section-your-brand__images {
  padding-top: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section-your-brand__img:nth-child(1) {
  align-self: end;
}
.section-your-brand__img:nth-child(2) {
  margin-left: 10px;
  align-self: end;
}
.section-your-brand__img:nth-child(3) {
  margin-right: 20px;
  justify-self: end;
}
.section-your-brand__img:nth-child(4) {
  justify-self: end;
}

.footer {
  background: #181818;
  padding-top: 40px;
  padding-bottom: 10px;
}
.footer__container_grid {
  position: relative;
  display: grid;
  justify-items: start;
  grid-template-columns: 282px 152px 257px 220px 213px 1fr;
  align-items: center;
  padding-bottom: 30px;
}
.footer__container_grid::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #444444;
}
.footer__container {
  max-width: 1320px;
  margin: 0 auto;
}
.footer__text {
  color: white;
  font-size: 20px;
  line-height: 25px;
}
.footer__text:nth-child(4) {
  display: none;
}
.footer__text:nth-child(5) {
  display: none;
}
.footer__text:nth-child(6) {
  display: none;
}
.footer__bottom-text {
  color: #b9b9b9;
  font-size: 14px;
  line-height: 19px;
}
.footer__list {
  display: flex;
  list-style: none;
}
.footer__item {
  margin-left: 20px;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
}
.footer__link {
  color: #b9b9b9;
}
.footer__container_flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cookies__button:nth-child(1) {
  margin-right: 20px;
}

.cookies__button:nth-child(1)::before {
  content: "";
  background-color: #181818;
}

.cookies__button:nth-child(1):hover {
  border: 1px solid #181818;
}
.cookies__button:nth-child(1):hover span {
  color: white;
}

.cookies__button:nth-child(2) {
  color: black;
  background: white;
}

.cookies__button:nth-child(2)::before {
  content: "";
  background-color: #181818;
}

.cookies__button:nth-child(2):hover {
  border: 1px solid #181818;
}
.cookies__button:nth-child(2):hover span {
  color: white;
}

@media (min-width: 1920px) {
  .text-midle {
    font-family: "font-400";
    font-size: 20px;
    line-height: 24px;
  }
  .grow__title {
    font-size: 64px;
    line-height: 67px;
  }
  .section-why__title-inner {
    font-size: 48px;
    line-height: 60px;
  }
  .section-why__title {
    font-size: 64px;
    line-height: 67px;
  }
  .section-why__inner {
    max-height: 362px;
  }
  .section-phone__text {
    font-size: 128px;
    line-height: 135px;
  }
  .section-everyone__title {
    font-size: 96px;
    line-height: 101px;
  }
  .section-about__title {
    font-size: 96px;
    line-height: 101px;
  }
  .section-about__title-content {
    font-size: 48px;
    line-height: 50px;
  }
  .title {
    font-size: 96px;
    line-height: 101px;
  }
  .section-about__text {
    font-size: 24px;
    line-height: 28px;
  }
  .section-about__first-text {
    font-size: 36px;
    line-height: 45px;
  }
}
.thank-you {
  display: none;
  position: relative;
  max-height: 561px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  left: 0;
  top: 69px;
  max-width: 337px;
  border-radius: 20px;
  right: 0;
  position: fixed;
  margin: 0 auto;
  background: white;
}
.thank-you__title {
  color: #A64CED;
  font-size: 36px;
  line-height: 45px;
}
.thank-you__text {
  font-size: 24px;
  line-height: 28px;
  color: #444444;
}
.thank-you__button {
  width: 100%;
}
.thank-you__close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.contact-form__text-error {
  display: none;
  color: #EC1211;
  font-size: 16px;
  line-height: 20px;
}

.button_border:hover {
  border: 2px solid #181818;
  transition: 500ms;
  padding: 14px 28px;
}

.mobile-menu {
  display: none;
  width: 100%;
  top: 0;
  z-index: 800;
  position: fixed;
  background: #181818;
}
.mobile-menu__list {
  padding: 0;
  margin-bottom: 193px;
}
.mobile-menu__item {
  font-size: 20px;
  line-height: 25px;
  list-style: none;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}
.mobile-menu__container {
  max-width: 343px;
  margin: 0 auto;
}
.mobile-menu__img {
  margin-top: 20px;
  margin-bottom: 141px;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.mobile-menu__button {
  margin-bottom: 171px;
}

@media (max-width: 1439px) {
  .cookies {
    margin: 0 16px;
  }
  .footer {
    background: #181818;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .footer__container_grid {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 16px 30px;
  }
  .footer__text:nth-child(4) {
    display: inline;
  }
  .footer__text:nth-child(5) {
    display: inline;
  }
  .footer__text:nth-child(6) {
    display: inline;
  }
  .footer__text {
    padding-bottom: 20px;
  }
  .footer__container_flex {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .footer__list {
    display: none;
  }
  .section-your-brand__brands {
    padding: 0 16px;
  }
  .section-your-brand__container {
    padding: 0 16px 90px;
  }
  .section-your-brand__img-brand {
    padding-bottom: 30px;
  }
  .grow {
    padding: 20px 16px;
  }
  .section-why__container {
    grid-template-columns: 1fr 0.9fr;
    min-height: 0px;
  }
  .section-why__container_revers {
    grid-template-columns: 0.9fr 1fr;
  }
  .section-about__inner {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1199px) {
  .cookies {
    max-width: 305px;
    margin: 0 auto;
    top: 395px;
    padding: 30px 20px;
    flex-direction: column;
  }
  .cookies__text {
    margin-bottom: 40px;
  }
  .section-your-brand__brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .section-your-brand__container {
    grid-template-columns: 1fr 0.8fr;
  }
  .section-why__container {
    grid-template-columns: 1fr;
    min-height: 0px;
  }
  .section-why__container_revers {
    grid-template-columns: 1fr;
  }
  .header__burger {
    padding-right: 7px;
  }
  .header__bottom {
    padding: 15px 0px;
  }
  .section-everyone__inner {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .section-everyone__left {
    margin: 0;
  }
  .section-about {
    padding-bottom: 80px;
  }
  .section-about__inner {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section-about__img-decore {
    display: none;
  }
  .section-about__first {
    margin-bottom: 40px;
    max-width: 400px;
    display: inline;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .section-about__title {
    padding: 0;
  }
  .section-about__first-text {
    margin: 0;
    padding: 0;
  }
  .section-about__img, .section-about__title-content, .section-about__text {
    margin: 20px 20px 0 20px;
  }
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 991px) {
  .footer {
    background: #181818;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .footer__container_grid {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 16px 30px;
  }
  .footer__button {
    margin-bottom: 20px;
  }
  .section-decoration__container {
    padding-bottom: 0px !important;
    padding-top: 35px !important;
  }
  .section-decoration__inner {
    flex-direction: column;
  }
  .section-decoration__text {
    white-space: nowrap;
  }
  .section-decoration__br {
    display: none;
  }
  .section-decoration__content {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 45px;
  }
  .section-decoration__num {
    margin: 0;
    margin-right: 20px;
  }
  .section-decoration__text {
    margin: 0;
  }
  .section-phone__inner {
    display: flex;
    width: 500%;
  }
}
@media (max-width: 767px) {
  .section-why__img_desktop {
    margin-top: 0px;
    margin-left: 145px;
  }
  .section-why__title-inner {
    font-size: 32px;
    line-height: 33px;
  }
  .footer {
    background: #181818;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .footer__container_grid {
    justify-items: start;
    grid-template-columns: 1fr;
  }
  .footer__button {
    margin-bottom: 20px;
  }
  .footer__store {
    margin-bottom: 20px;
  }
  .footer__logo {
    max-width: 125px;
    margin-bottom: 40px;
  }
  .footer__text {
    padding-bottom: 15px;
  }
  .footer__button {
    margin-top: 25px;
    max-width: 182px;
    margin-bottom: 40px;
  }
  .footer__container_grid::after {
    display: none;
  }
  .section-your-brand__brands {
    justify-items: center;
    grid-auto-flow: dense;
  }
  .section-your-brand__pic-brand:nth-child(1) {
    order: 3;
  }
  .section-your-brand__pic-brand:nth-child(2) {
    order: 2;
  }
  .section-your-brand__pic-brand:nth-child(3) {
    order: 1;
  }
  .section-your-brand__pic-brand:nth-child(4) {
    order: 4;
  }
  .section-your-brand__pic-brand:nth-child(5) {
    order: 5;
  }
  .section-your-brand__container {
    grid-template-columns: 1fr;
  }
  .section-your-brand__img {
    width: 64px;
  }
  .section-your-brand__title {
    margin-top: 40px;
  }
  .section-your-brand__images {
    padding-top: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grow {
    padding: 40px 0 0;
  }
  .grow__title {
    margin-top: 39px;
    margin-bottom: 41px;
  }
  .grow__container {
    padding: 0 16px 39px;
  }
  .section-why {
    padding-bottom: 54px;
    padding-top: 70px;
  }
  .section-why__text-content {
    margin-bottom: 40px;
  }
  .section-why__inner {
    flex-direction: column;
    max-width: 343px;
    margin: 0 auto 20px auto;
    padding: 0;
    min-height: 313px;
    border-radius: 20px;
  }
  .section-why__inner_revers {
    flex-direction: column-reverse;
  }
  .section-why__text {
    margin-bottom: 0;
  }
  .section-why__title-inner {
    margin-bottom: 0;
  }
  .section-why__img_mobile {
    margin-right: 15px;
    display: block;
  }
  .section-why__wrapper {
    padding: 20px;
    padding-bottom: 8px;
  }
  .section-why__img_two {
    max-width: 57px;
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
  }
  .section-everyone {
    padding-bottom: 42px;
  }
  .section-everyone__button {
    margin-top: 5px;
    margin-bottom: 60px;
  }
  .grow__br {
    display: inline;
  }
  .header__logo {
    max-width: 124px;
  }
  .header__list {
    padding: 0;
  }
  .container {
    position: relative;
    padding: 0 16px;
  }
  .section-about__inner {
    margin-top: 30px;
    display: inline;
  }
  .section-about__img, .section-about__title-content, .section-about__text {
    margin: 20px 0 0 0;
  }
  .section-about__title-content {
    margin-top: 10px;
  }
  .section-about__first-text {
    margin-top: 30px;
    max-width: 300px;
  }
  .section-about__content {
    padding-top: 25px;
  }
  .section-phone {
    padding: 75px 0 55px;
  }
  .section-phone__infinity {
    padding-bottom: 92px;
  }
  .section-phone__img {
    margin-top: -60px;
  }
}
@media (max-width: 576px) {
  .header__burger {
    display: inline;
    cursor: pointer;
  }
  .header__button {
    display: none;
  }
  .thank-you {
    margin: 0 20px;
    padding: 20px;
    z-index: 20;
  }
  .thank-you__text {
    font-size: 20px;
    line-height: 24px;
  }
  .thank-you__title {
    font-size: 24px;
    line-height: 28px;
  }
  .thank-you__button {
    margin: 20px 0 40px;
    max-width: 225px;
  }
  .contact-form {
    max-width: 305px;
    padding: 16px;
  }
  .contact-form__input {
    width: 270px;
  }
  .phone {
    width: 245px;
  }
  .cookies__button:nth-child(1) {
    margin-bottom: 20px;
  }
  .section-everyone__left {
    margin-bottom: 65px;
  }
  .section-everyone__pic {
    margin-left: auto;
    margin-right: -16px;
  }
  .section-your-brand__brands {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-auto-flow: dense;
  }
  .section-your-brand__images {
    grid-template-columns: 1fr 1fr;
  }
  .button_width {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .section-your-brand__pic-brand:nth-child(1) {
    order: 3;
    justify-self: start;
  }
  .section-why__br {
    display: none;
  }
  .section-your-brand {
    padding-bottom: 60px;
  }
  .section-your-brand__img-brand:nth-child(1) {
    justify-self: start;
  }
  .section-your-brand__img-brand:nth-child(3) {
    justify-self: start;
  }
}
@keyframes section-phone-infinity {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes section-phone-infinity-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pt {
  padding-top: 120px;
}/*# sourceMappingURL=style.css.map */