body,
html {
    height: 100%;
    font-family: 'Candara';
    color: black;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.header-top {
    color: white;
    background: black;
    padding: 22px 28px 29px 50px;
    /* max-height: 108px; */
}

.header-top a {
    color: white;
    text-decoration: none;
}

.mw-1562 {
    max-width: 1562px;
}





footer {
    background: black;
    color: white;
    /* max-height: 370px; */
}

.footer-content {
    padding-top: 81px;
    padding-bottom: 65px;
    max-width: 1448px;
    margin: auto;
}

.serch {
    position: relative;
}

.serch input {
    border: 1px solid black;
}

.serch input::placeholder {
    color: black;
}

.serch img {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.header-bottom {
    position: relative;

    &__menu {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
    }
}

.header-bottom::before {
    /* content: ''; */
    /* position: absolute; */
    background: black;
    left: 0;
    right: 0;
    width: 893px;
    height: 2px;
    bottom: 0px;
    margin: auto;
}

.header-bottom input {
    max-width: 203px;
}

.dropdown-menu {
    background: #000;
}



.dropdown-li a {
    position: relative;
}

.dropdown-li a:hover~.dropdown-li__list {
    display: block;
}

.dropdown-li__list {
    padding: 10px;
    left: 210px;
    bottom: -2px;
    display: none;
    // position: absolute;
    background: white;
}

.dropdown-li__list-item {
    margin: 15px 0 !important;
    padding-right: 80px;
    white-space: nowrap;
}

.dropdown-li__list:hover {
    display: inline;
}

.dropdown-li__list-item:hover {
    cursor: pointer;
    background: black;
}

.dropdown-li__list-item:hover a {
    color: white !important;

}
.fw-700{
    font-weight: 700;
}
.dropdown-item {
    padding: 0;
    margin: 14px 0;
    color: white;
    // font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.section-two__menu-one {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    max-width: 1359px;
    margin: auto;
    margin-bottom: 40px;
}

.section-two__menu-two {
    font-size: 24px;
    line-height: 130%;
    font-weight: 700;
    max-width: 839px;
    margin: auto;
    margin-bottom: 20px;
}

.section-two__text {
    position: relative;
    max-width: 1041px;
    margin: auto;
    font-weight: 400;
    font-size: 27px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 39px;
}

.section-two__text::before {
    content: '';
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    width: 181px;
    height: 2px;
    bottom: 0px;
    margin: auto;
}

.section-two__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
}

.slider-container {
    max-width: 1254px;
    margin: auto;
}

.slider__item2-container {
    margin: 0 auto;
}

.slider__item2 {
    position: relative;
    background: #F3F3F3;
    margin: 0 11px;
    /* margin: 0 47px 96px 49px; */
    height: 914px;
    max-width: 402px;
}

.slider__item3 {
    margin: 0 15px;
}

.slider__item4 {
    position: relative;
    background: #F3F3F3;
    margin: 0 11px;
    /* margin: 0 47px 96px 49px; */
    height: auto;
    padding: 20px 0;
    // height: 659px;
}
.mw-377{
    max-width: 377px;
}
.section-two h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
}

.section-two__title {
    margin: 0 42px 0 44px;
    position: relative;
    padding-bottom: 31px;
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    /* font-size: calc(18px + 6 * ((100vw - 375px) / (1920 - 320))); */
    /* line-height: calc(40px + 15 * ((100vw - 375px) / (1920 - 320))); */
}

.section-two__title::before {
    content: '';
    position: absolute;
    background: black;
    left: 0;
    right: 0;
    width: 181px;
    height: 2px;
    bottom: 0px;
    margin: auto;
}

.section-two__slid-text {
    margin: 0 47px 0 49px;
    /* margin-bottom: 96px; */
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.section-two__link {
    border: 2px solid black;
    display: flex;
    align-items: center;
    max-width: 203px;
    justify-content: space-between;
    padding: 2px 12px 6px 15px;
    margin: auto;
    /* margin-bottom: 31px; */
    /* position: absolute; */
    position: static;
    bottom: 31px;
    left: 0;
    right: 0;
}

.section-tree__link {
    border: 2px solid black;
    display: flex;
    align-items: center;
    max-width: 203px;
    justify-content: space-between;
    padding: 2px 12px 6px 15px;
    margin: 0px auto 0 auto;
}
.section-tree__link2 {
    border: 2px solid black;
    display: flex;
    align-items: center;
    max-width: 203px;
    justify-content: space-between;
    padding: 2px 12px 6px 15px;
}

.section-seven__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    padding: 23px;
    max-height: 70px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    max-width: 203px;
    max-height: 70px;
    justify-content: space-between;
    padding: 22px 12px 22px 15px !important;
    margin: 21px auto !important;
}

.section-two__btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

.section-two__img {
    margin-bottom: 31px;
}

.slick-prev {
    display: none !important;
    position: absolute;
    left: -74px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 0;
    border: none;
    width: 50px;
    height: 50px;
    background: url(../images/slider-left.png);
}

.slick-next {
    display: none !important;
    position: absolute;
    right: -74px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 0;
    border: none;
    width: 50px;
    height: 50px;
    background: url(../images/slider-right.png);
}

.slider2 {
    position: relative;
    margin-bottom: 20px;
}

.slider3 {
    position: relative;
}

.section-tree {
    background: rgba(217, 217, 217, 0.3);
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 57px;
}


.section-tree p {
    margin: 0 15px;

    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    max-width: 274px;
}

.slider3 .slick-next {
    top: -144px;
}

.slider3 .slick-prev {
    top: -144px;
}



.section-tree__img {
    margin: 0 15px;
    margin-bottom: 18px;
    margin: 0px auto 10px auto;
}

.section-tree__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 10px;
}


.section-four__slid-text {
    margin: 0 35px 0 36px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.catalog-section-one{
&__sort{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    border: 2px solid black;
    padding: 6px 16px 6px 18px;
}
&__title{
    font-weight: 700;
font-size: 36px;
line-height: 120%;

}
}

.section-four__title {
    text-align: center;
    font-weight: 700;
    line-height: 120%;
    font-size: calc(45px + 10 * ((100vw - 375px) / (1920 - 320)));
    /* line-height: calc(40px + 15 * ((100vw - 375px) / (1920 - 320))); */
}

.section-four__sub-title {
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    padding-bottom: 27px;
    margin-bottom: 60px;
}

.section-four__sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 2px;
    background: black;
    bottom: 0;
    max-width: 181px;
}

.section-five {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 43px;
}



.section-five__text {
    max-width: 306px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.img-decore {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
    display: none;
}

.section-five__mb {
    margin-bottom: 0px;
}

.section-five__catalog {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    padding: 14px 21px 14px 21px;
    border: 1px solid #000000;
    max-width: 331px;
    margin: 10px auto 10px;
    text-align: center;
}

.section-six {
    margin-bottom: 50px;
}

.section-six h2 {
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    margin-bottom: 10px;
}

.section-six__container {
    max-width: 1178px;
    margin: 0 auto;
}

.section-six__last {
    position: relative;
}
.mw-268{
    max-width: 268px;
}
.section-six__last::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #FFFFFF -8.54%, rgba(255, 255, 255, 0) 116.38%);
    transform: rotate(-180deg);
}

.section-six__images-one {
    position: relative;
}

.section-six__images-one::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: red;
    background: linear-gradient(180deg, #FFFFFF -8.54%, rgba(255, 255, 255, 0) 116.38%);
    transform: rotate(-180deg);
}

.section-six__images-two {
    position: relative;
}

.section-six__images-two::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: red;
    background: linear-gradient(180deg, #FFFFFF -8.54%, rgba(255, 255, 255, 0) 116.38%);
}

.section-six__item {
    position: relative;
}

.section-six__text {
    color: #000;
    z-index: 2;
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.section-six__text-one {
    bottom: 29px;
    left: 57px;
}

.section-six__text-two {
    top: 32px;
    text-align: end;
    padding-right: 20px;
}

.section-six__text-tree {
    top: 15px;
    right: 51px;
}

.section-six__text img {
    padding: 0 12px;
}

.section-six__text-inner {
    position: relative;
}

.section-six__text-inner-one::before {
    content: "";
    position: absolute;
    /* right: 0; */
    top: 7px;
    bottom: 0;
    width: 10px;
    height: 42px;
    left: -25px;
    background-image: url(../images/vertical-line.png);
}
.section-six__text-inner-two{
    padding-right: 20px;
}
.section-six__text-inner-two::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 10px;
    bottom: 0;
    width: 10px;
    height: 42px;
    /* left: -25px; */
    background-image: url(../images/vertical-line.png);
}

.section-six__text-inner-tree::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 10px;
    bottom: 0;
    width: 10px;
    height: 17px;
    /* left: -25px; */
    background-image: url(../images/vertical-line.png);
}

.mh-508 {
    max-height: 508px;
    /* background-size: contain; */
}

.mh-508 img {
    margin: 0 auto;
}

.mw-326 {
    max-width: 326px !important;
}

.mw-644 {
    max-width: 644px !important;
}

.section-seven {
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center 0%;
    background-image: url(../images/seven.png);
}


.line2{
    background: red;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-right: 10px;
}
.section-five__item-1 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 0px;
}

.section-five__item-1 img {
    margin-right: 0px;
}

.section-five__item-2 {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    margin-bottom: 0px;
}

.section-five__item-2 img {
    margin-left: 0px;
}

.section-five__item-3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 0px;
}

.section-five__item-3 img {
    margin-right: 0px;
}

.section-five__item-4 {
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
}

.bread-crumbs {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.mx__header-top {
    margin-left: auto;
    margin-right: auto;
}
.dropdown-main__item-lvl-3{
    color: #000;
    position: relative;
    padding-left: 16px;
    font-size: 16px;
    min-width: 261px;
}
.dropdown-main__item-lvl-3:hover::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-image: url(../images/vertical-line.png);
}
.dropdown-main {
    font-size: 27px;
    line-height: 120%;
    padding: 0;
    padding-left: 14px;
    
    &__list {
        background: transparent;
        border: none;
        transform: none !important;
    }
    
    &__item {
        color: #000;
        padding: 0;
        padding-left: 14px;
    }
    &__item:hover {
        color: white !important;
        background: black !important;
        border-radius: 0 !important;
    }

}
.filters-decore{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        margin: 34px auto 41px ;
    }
}
.filters{
    &__inputs{

    }
    &__input-text{
        position: relative;
        // width: 100%;
        padding-left: 14px;
        padding-bottom: 15px;
    }
    &__input-text::after{
        margin-left: auto;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        background: transparent;
    }
    &__input{
        display: none;
    }
.fs-20{
    font-size: 20px;
}
}
input:checked + label::after {
    content: '';
    background-image: url(../images/gal.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
.mw-978{
    max-width: 978px;
}
.w-261{
    min-width: 261px !important;
}
.btn-lvl-two:hover{
    background: black;
    border-radius: none !important;
}
.page-item-num{
    background: transparent;
    width: 48px;
    // height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
}
.color-white{
    color: white;
}
.color-white:hover{
    color: black !important;
    background: white !important;
}

.color-white:focus{
    color: white;
}
.dropdown-menu__inner{
    top: -200px !important;
    left: 182px !important;
    background: white;
}
.fs-32{
    font-size: 32px;
}
.mw-225{
    max-width: 225px;
    margin: 0 12px;
}
.mw-650{
    max-width: 650px;
}
.fs-15{
    font-size: 15px;
}

.fs-16{
    font-size: 16px;
}
.fs-24{
    font-size: 24px;
}
.fs-28{
    font-size: 28px;
}
.fs-36{
    font-size: 36px;
}
.page-item-num a{
    color: black;
    font-weight: 700;
font-size: 20px;
line-height: 120%;
}
.page-item{
    margin: 0 5px;
}
.color-black{
    color: black;
}
.fs-27{
    font-size: 27px;
}
.fs-20{
    font-size: 20px;
}
.mb-lg-178{
    margin-bottom: 20px;
}
.transform{
    transform: rotate(-180deg);
}
/* Labels for checked inputs */



// Media
@media (min-width: 576px) {

    .section-two__link {
        position: absolute;
    }
    .slider__item4 {
        position: relative;
        background: #F3F3F3;
        margin: 0 11px;
        /* margin: 0 47px 96px 49px; */
        height: 559px;
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    .slider__item4 {
        position: relative;
        background: #F3F3F3;
        margin: 0 11px;
        /* margin: 0 47px 96px 49px; */
        height: 659px;
        padding: 20px 0;
    }

    .section-two__text {
        position: relative;
        max-width: 1041px;
        margin: auto;
        font-weight: 400;
        font-size: 27px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 130px;
        padding-bottom: 39px;
    }

    .section-seven {
        padding-top: 156px;
        padding-bottom: 141px;
        background-repeat: no-repeat;
        background-position: center 0%;
        background-image: url(../images/seven.png);
    }

    .section-six h2 {
        font-weight: 700;
        font-size: 55px;
        line-height: 120%;
        margin-bottom: 36px;
    }

    .section-six {
        margin-bottom: 146px;
    }

    .section-five__catalog {
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        padding: 14px 21px 14px 21px;
        border: 1px solid #000000;
        max-width: 331px;
        margin: 91px auto 119px;
        text-align: center;
    }

    .section-five__mb {
        margin-bottom: 129px;
    }

    .section-tree {
        background: rgba(217, 217, 217, 0.3);
        margin-bottom: 131px;
        padding-top: 10px;
        padding-bottom: 57px;
    }

    .section-tree__link {
        border: 2px solid black;
        display: flex;
        align-items: center;
        max-width: 203px;
        justify-content: space-between;
        padding: 3px 12px 5px 15px;
        margin: 32px 0px 0 auto;
    }

    .section-tree__img {
        margin: 0 15px;
        margin-bottom: 18px;
        // margin: 80px auto 67px auto;
    }

    .section-tree__title {
        font-weight: 700;
        font-size: 55px;
        line-height: 120%;
        text-align: center;
        margin-bottom: 74px;
    }

    .section-tree {
        background: rgba(217, 217, 217, 0.3);
        margin-bottom: 131px;
        padding-top: 89px;
        padding-bottom: 57px;
    }

    .slider2 {
        position: relative;
        margin-bottom: 143px;
    }

    .section-two__menu-two {
        margin-bottom: 157px;
    }

    .section-five__item-1 {
        display: flex;
        margin-bottom: 27px;
        flex-direction: row;
        align-self: flex-start;
    }

    .section-five__item-1 img {
        margin-right: 117px;
    }

    .section-five__item-2 {
        display: flex;
        align-self: flex-end;
        margin-bottom: 153px;
        flex-direction: row;
    }

    .section-five__item-2 img {
        margin-left: 59px;
    }

    .section-five__item-3 {
        display: flex;
        flex-direction: row;
        align-self: start;
        margin-bottom: 51px;
    }

    .section-five__item-3 img {
        margin-right: 59px;
    }

    .section-five__item-4 {
        flex-direction: row;
        display: flex;
        align-self: flex-end;
    }

    .section-five__item-4 img {
        margin-left: 59px;
    }
}

@media (min-width: 992px) {
    .dropdown-li a:hover~.dropdown-li__list {
        display: inline;
    }
    .mb-lg-178{
        margin-bottom: 178px;
    }
    .dropdown-li__list {
        padding: 10px;
        left: 200px;
        bottom: -2px;
        display: none;
        position: absolute;
        background: white;
    }
    .me-lg-81{
        margin-right: 81px;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1600px) {
    .mx__header-top {
        margin-left: 262px;
        margin-right: 96px;
    }
}
@media (min-width: 1400px) {


    .header-bottom::before {
        content: '';
        position: absolute;
        background: black;
        left: 0;
        right: 0;
        width: 893px;
        height: 2px;
        bottom: -8px;
        margin: auto;
    }

    .slick-prev {
        display: inline !important;
    }

    .slick-next {
        display: inline !important;
    }
}

@media (min-width: 1600px) {
    .img-decore {
        display: inline;
    }

}