@font-face {
    font-family: 'Candara';
    src: url('Candara.eot');
    src: local('Candara'), local('Candara'),
        url('Candara.eot?#iefix') format('embedded-opentype'),
        url('Candara.woff2') format('woff2'),
        url('Candara.woff') format('woff'),
        url('Candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}